@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar--container {
  height: 100vh;
  background-color: rgba(113, 99, 186, 255);
}

.logo {
  color: white;
  padding-top: 16px;
  width: 100%;
  height: 80px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.menu {
  margin: 0 !important;
  list-style: none;
  padding: 0 !important;
}
.menu li {
  padding: 1rem;
}

.menu .link {
  color: #fff;

  display: flex;

  gap: 1rem;
}
.row {
  margin: 0 !important;
  padding: 0 !important;
}

/*******************/
.main--container {
  padding: 10px;
  background: #ebe9e9;
}
.header--title span {
  font-size: 14px;
}
.header--title div {
  font-size: 18px;
  font-weight: bold;
}

.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/*Main Body css          */

.header--wrapper {
  display: flex;
  justify-content: space-between;
border-radius: 10px;
  background: #fff;

  margin-bottom: 1rem;
}

/*card-container*/
.card-container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.payment--card {
  padding: 1.2rem;
}

.amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* .amount--value {
  font-size: 24px;
  font-family: "Courier NEW", "Courier New", Courier, monospace;
  font-weight: 600;
} */

.light-red {
  background-color: rgb(254, 226, 233) !important;
  font-weight: bold !important;
}
.light-purple {
  background-color: rgb(254, 226, 254) !important;
  font-weight: bold !important;
}

.light-green {
  background-color: rgb(235, 254, 235) !important;
  font-weight: bold !important;
}

.light-blue {
  background-color: rgb(236, 236, 254) !important;
  font-weight: bold !important;
}

/*table*/

.table {
  --bs-table-bg: #f2f2f2 !important;
}
.table--col {
  background: #fff;
  margin-top: 1rem !important;
  border-radius: 10px;
  padding: 2rem !important;
}
.table--row:nth-child(even) {
  --bs-table-bg: #fff !important;
}
.table--head {
  background-color: rgba(113, 99, 186, 255);
  /* color: #fff !important; */
  --bs-table-color-state: #fff;
}
th {
  background-color: rgba(113, 99, 186, 255) !important;
  padding: 15px;
  text-align: left;
}
tfoot {
  --bs-table-bg: rgba(113, 99, 186, 255) !important;
  font-weight: bold;
  color: #fff !important;
}
.main-title {
  color: rgb(113, 99, 186, 255);
  padding: 10px;
  font-size: 15px;
}
@media (max-width: 374px) {
  .logo {
    font-size: 10px;
  }
  .menu li {
    padding: 1rem 0rem;
  }
  .menu .link {
    font-size: 8px;

    gap: 0.5rem;
  }
  .header-title span {
    font-size: 10px;
  }
  .header--title div {
    font-size: 14px;

    font-weight: bold;
  }
  .amount .title {
    font-size: 12px;
  }
  .payment--card {
    padding: 0.4rem !important;
  }
  .card-col {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .table-col {
    padding: 0.5rem !important;
  }
  .table--head {
    font-size: 12px;
    padding: 0 !important;
  }
  .table--row {
    font-size: 10px;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .logo {
    font-size: 14px;
  }
  .menu li {
    padding: 1rem 0rem;
  }
  .menu .link {
    font-size: 12px;

    gap: 0.5rem;
  }
  .header--title {
    font-size: 12px;
  }
  .header-title span {
    font-size: 10px;
  }
  .header--title div {
    font-size: 14px;

    font-weight: bold;
  }
  .amount .title {
    font-size: 12px;
  }
  .payment--card {
    padding: 0.4rem !important;
  }
  .card-col {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .main-title {
    padding-bottom: 5px;
  }
  .table--col {
    padding: 1rem !important;
  }
  .table--head {
    font-size: 12px !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .logo {
    font-size: 16px;
  }
  .menu li {
    padding: 1rem 0rem;
  }
  .menu .link {
    font-size: 14px;

    gap: 0.5rem;
  }
  .card-col {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .main-title {
    padding-bottom: 10px;
  }
  .table--col {
    padding: 1rem !important;
  }
}
